.dark-focus-input:focus-visible {
    outline: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}

.translucent-options option {
    background-color: rgba(0, 0, 0, 0.8);
}

.arrow_progress_green {
    filter: sepia(14%) saturate(5386%) hue-rotate(55deg);
}
