.arrow_progress_green {
    filter: sepia(14%) saturate(5386%) hue-rotate(55deg);
}

@keyframes firstHop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-first-hop {
    animation: firstHop 0.5s ease-in-out;
}
